<section class="container">

  <div [hidden]="submitted">
    <h1>חתמר: {{name}}</h1>
    <form (ngSubmit)="onSubmit(vehicleForm)" #vehicleForm="ngForm">
      
			<!-- Passengers Section -->
			<h2>Passenger information</h2>
			
			<section
				*ngFor="let passenger of passengers; let i = index; trackBy: trackByFn"
				class="form-section">
				
				<p>Passenger {{i+1}}:</p>
				<div class="form-group">
	        <label for="name">Passport</label>
	        <input type="text" class="form-control" id="passengerPassport-{{i+1}}"
	               [(ngModel)]="passenger.passport" name="passengerPassport-{{i+1}}">
	      </div>

	      <div class="form-group">
	        <label for="alterEgo">Phone</label>
	        <input type="text" class="form-control" id="passengerPhone-{{i+1}}"
	               [(ngModel)]="passenger.phone" name="passengerPhone-{{i+1}}">
	      </div>

			</section>

			<span (click)="addPassenger()" class="btn btn-primary">Add passenger</span>
			<span (click)="deletePassenger()" class="btn btn-danger">Delete passenger</span>
			<!--/ Passengers Section -->

      <!-- Vehicle Section -->
      <h2>Vehicle information</h2>
			<section class="form-section">
	      <div class="form-group">
	        <label for="name">Vehicle color</label>
	        <input type="text" class="form-control" id="vehicleColor"
	               [(ngModel)]="color" name="vehicleColor">
	      </div>

	      <div class="form-group">
	        <label for="alterEgo">Vehicle Plate number</label>
	        <input type="text" class="form-control" id="vehiclePlateNumber"
	               [(ngModel)]="plateNumber" name="vehiclePlateNumber">
	      </div>

	      <div class="form-group">
	        <label for="alterEgo">Vehicle manufacturer</label>
	        <input type="text" class="form-control" id="vehicleManufacturer"
	               [(ngModel)]="manufacturer" name="vehicleManufacturer">
	      </div>
			</section>
			<!--/ Vehicle Section -->

			<!-- Location and Time Section -->
			<h2>Location and Time Information</h2>
			<section class="form-section">
				<div class="form-group">
	        <label for="name">Location</label>
	        <input type="text" class="form-control" id="location"
	               [(ngModel)]="location" name="location">
	      </div>

	      <div class="form-group">
	        <label for="alterEgo">Destination</label>
	        <input type="text" class="form-control" id="destination"
	               [(ngModel)]="destination" name="destination">
	      </div>

	      <owl-date-time [(ngModel)]="dateAndTime" name="dateAndTime" [locale]="he"></owl-date-time>
			</section>
			<!--/ Location and Time Section -->

      <button type="submit" class="btn btn-success" [disabled]="!vehicleForm.form.valid">Submit</button>

    </form>
  </div>

</section>
