<section class="container">

  <div class="add-vehicle-form-container">
	
	<div style="direction: ltr;">{{diagnostic}}</div>

  	<div [@msgState]="msgState" class="alert alert-success" role="alert">
	  <strong>Well done!</strong> Your entry has be successfully added.
	</div>

    <form (ngSubmit)="onSubmit(driverPassport, driverPhone, vehicleForm)" #vehicleForm="ngForm">
	    
	    <h2>חתמר:</h2>

	    <section class="form-section row">
	    	<div class="form-group col-6">
			    <select class="form-control"
			    				ngModel
			    				id="checkpost"
			    				name="checkpost"
			    				#checkpostName="ngModel"
			    				[compareWith]="compareFn"
			    				[(ngModel)]="formData.checkpost">
				    <option *ngFor="let checkpost of checkpostPanels"
										[ngValue]="checkpost">
										{{checkpost.name}}
				    </option>
				  </select>
			  </div>
		  </section>
      
			<h2>מידע על נוסעים:</h2>

			<!-- Driver Section -->
			<section class="form-section row">
				
				<p class="col-12">נהג:</p>

				<div class="form-group col">
	        <label for="driverPassport">ת.ז.</label>
	        <input type="text" class="form-control driver-attr validated-value" id="driverPassport"
	               [(ngModel)]="formData.driver.passport"
	               name="driverPassport"
	               ngModel
	               #driverPassport="ngModel"
	               [digitSequence]="9"/>
	      </div>

	      <div class="form-group col">
	        <label for="driverPhone">טלפון</label>
	        <input type="text" class="form-control driver-attr validated-value" id="driverPhone"
	               [(ngModel)]="formData.driver.phone"
	               name="driverPhone"
	               ngModel
	               #driverPhone="ngModel"
	               [digitSequence]="10" />
	      </div>
			</section>
			<!--/ Driver Section -->
			
			<!-- Passengers Section -->
			<section
				*ngFor="let passenger of formData.passengers; let i = index; trackBy: trackByFn"
				class="form-section row">
				
				<p class="col-12">נוסע {{i+1}}:</p>

				<div class="form-group col">
	        <label for="passengerPassport-{{i+1}}">ת.ז.</label>
	        <input type="text" class="form-control" id="passengerPassport-{{i+1}}"
	               [(ngModel)]="formData.passengers[i].passport" name="passengerPassport-{{i+1}}">
	      </div>

	      <div class="form-group col">
	        <label for="passengerPhone-{{i+1}}">טלפון</label>
	        <input type="text" class="form-control" id="passengerPhone-{{i+1}}"
	               [(ngModel)]="formData.passengers[i].phone"
	               name="passengerPhone-{{i+1}}">
	      </div>

			</section>

			<span (click)="addPassenger()" class="btn btn-success">הוסף נוסע</span>
			<span (click)="deletePassenger()" class="btn btn-danger">מחק נוסע</span>
			<!--/ Passengers Section -->

      
			<section class="row">
	      <!-- Vehicle Section -->
	      <section class="col">
	      <h2>מידע על הרכב:</h2>
					<section class="form-section row">
			      <div class="form-group col-12">
			        <label for="vehicleColor">צבע</label>
			        <input type="text" class="form-control" id="vehicleColor"
			               [(ngModel)]="formData.color"
			               name="vehicleColor" />
			      </div>

			      <div class="form-group col-12">
			        <label for="vehiclePlateNumber">*מספר לוחית</label>
			        <input type="text" class="form-control validated-value" id="vehiclePlateNumber"
			               [(ngModel)]="formData.plateNumber"
			               name="vehiclePlateNumber"
			               ngModel
			               required
			               #vehiclePlateNumber="ngModel"
			               [digitSequence]="7" />
			      </div>

			      <div class="form-group col-12">
			        <label for="vehicleManufacturer">מותג</label>
			        <input type="text" class="form-control" id="vehicleManufacturer"
			               [(ngModel)]="formData.manufacturer" name="vehicleManufacturer">
			      </div>
					</section>
				</section>
				<!--/ Vehicle Section -->

				<!-- Location and Time Section -->
				<section class="col">
					<h2>מידע על מיקום ושעה</h2>
					<section class="form-section row col">
						<div class="form-group col-12">
			        <label for="location">מיקום</label>
			        <input type="text" class="form-control" id="location"
			               [(ngModel)]="formData.location" name="location">
			      </div>

			      <div class="form-group col-12">
			        <label for="destination">כיוון</label>
			        <input type="text" class="form-control" id="destination"
			               [(ngModel)]="formData.destination" name="destination">
			      </div>
						
						<div class="form-group col-12">
							<label for="dateAndTime">תאריך וזמן</label>
			      	<owl-date-time [inline]="false" [(ngModel)]="formData.dateAndTime" id="dateAndTime" name="dateAndTime" [locale]="he"></owl-date-time>
						</div>

					</section>
				</section>
				<!--/ Location and Time Section -->
			</section>

      <button type="submit"
      			  class="btn btn-primary"
      			  [disabled]="(vehiclePlateNumber.invalid || (driverPassport.invalid && driverPhone.invalid))"
      			  >
      			  שלח
      </button>

    </form>
  </div>

</section>
