/* You can add global styles to this file, and also import other style files */
body {
	direction: rtl;
}
.direction-ltr {
	direction: ltr;
}

.owl-calendar-control .owl-calendar-controlNav .nav-next:before {
	border-left: none !important;
    border-right: .75em solid #000 !important;
}

.owl-calendar-control .owl-calendar-controlNav .nav-prev:before {
    border-right: none !important;
    border-left: .75em solid #000 !important;
}