<section class="container">
	
	<h2>חתמרים</h2>
	<hr>
	<div class="row">
		<div class="col-3" *ngFor="let checkpostPanel of checkpostPanels">
			<div class="checkpost-panel row">
				<div class="checkpost-panel-top col-12" (click)="onSelect(checkpostPanel)">
					<div class="row">
						<div class="col-7">
							<p>{{checkpostPanel.name}}</p>
							<p class="checkpost-quantity">{{checkpostPanel.vehicles}}</p>
						</div>
						<div class="col-5 text-left">
							<i class="fa fa-tasks fa-4x"></i>
						</div>
					</div>
				</div>
				<div class="checkpost-panel-bottom col-12" (click)="goToAddVehicle(checkpostPanel)">
					<div class="row">
						<span class="col-10">הוסיף</span>
						<span class="col-2"><i class="fa fa-arrow-circle-left"></i></span>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	<div class="row checkpost-comparison">
		<div class="col-12 checkpost-comparison-top">
			<i class="fa fa-bar-chart" aria-hidden="true"></i>
			<span>השוואה כללית</span>
		</div>
		<div class="col-12">
			<app-checkpost-details [checkpost]="selectedCheckpostPanel"></app-checkpost-details>
		</div>
	</div>

</section>